body{
	background-color: #f1f1f1;
}
li{
	list-style: none;
	padding-bottom: 10px;
	display: block;
	float: left;
}
ul, li, p, body,div{
	margin: 0;
	padding: 0;
}
.price{
	float: left;
	padding: 30px;
}
.priceTag{
	width: 120px;
	height: 60px;
	text-indent: -999em;
	border: none;
	box-shadow: none;
	background: url(./image/priceTag.png);
}
#box{
	padding-top: 140px;
	width: 640px;
	height: 996px;
	background-color: white;
	background-image: url('./image/bkg.png');
	background-repeat: no-repeat;	
}
.clearFloat{
	clear: both;
}
.detailBox{	
	width: 560px;
	height: 720px;
	background-color: #dddddd;
	background: url(./image/detailbox.png);
	border-radius: 20px;
	position: fixed; 
	top: 100px;
	left: -50px;
	z-index: 20;
	visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
    -webkit-transform: ;
    -webkit-transform: scale(0.2) translateX(-200px) translateY(-400px);    
}

.shadow{
	position: absolute;
	left:0;
	top:0;
	width: 640px;
	height: 1136px;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
    transition: all 0.3s;
}

.md-show{
	visibility: visible;
}

.md-show.detailBox {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	position: fixed;
	top: 200px;
	left: 50px;
}

.image{
	width: 300px;
}


